body{
    background-image: url(./Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 800px;
    height: 12px;
    text-align: center;
    
    flex-wrap: wrap;
    padding: 380px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
input{
    width: 362px;
    height: 50px;
    border-radius: 9px;
    margin-left: 5px;
}
textarea{
    width: 750px;
    height: 82px;
    border-radius: 9px;
    margin-top: 5px;
}
button{
    width: 170px;
    height: 42px;
    background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
    border-radius: 9px;
    margin-top: 60px;
    color: white;
}
@media(max-width:768px){
    .box{
        width: 90%;
        height: 401px;
    }
    input{
        width: 60%;
        height: 41px;
    }
    textarea{
        width: 378px;
        height: 95px;
    }
}
@media(max-width:320px){
    .box{
        width: 100%;
        height: 298px;
    }
    input{
       width: 70%;
       height: 20px;
    }
    textarea{
        width: 70%;
        height: 95px;
    }
    button{
       width: 58px;
       height: 18px;
       font-size: 9px;
    }
}