a{
    text-decoration: none;
    color: gray;
}
header{
    display: flex;
    justify-content: space-between;
}
.cintainer{
    width: 90%;
    margin: auto;
    
}
nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
button{
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    color: white;
    width: 179px;
    height: 56px;
    border-radius: 7px;
    margin-top: 50px;
    border: none;
}
.text{
    width: 596px;
}
.kas{
    text-align: center;
}
span{

color: purple;

}
.card{
    width: 344px;
    height: 414px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
margin-top: 50px;
}
.card p{
    margin-left: 20px;
}
.card h1{
    margin-left: 20px;
}
.box2{
    display: flex;
    justify-content: space-around;
}
.card2 p{
    text-align: center;
}
.card2 img{
    
    position: absolute;
    bottom: 60px;
    left: 120px;
}
.box3{
    display: flex;
    justify-content: space-around;
    height: 357px;
    position: relative;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    margin-top: 200px;
}
.card2{
    width: 300px;
    height: 37px;
    box-shadow: 0px 0px 30px 0px #00000040;
    margin-top: 130px;
    padding: 50px;
}
.card3{
    width: 300px;
    height: 37px;
    box-shadow: 0px 0px 30px 0px #00000040;
    margin-top: 130px;
    padding: 50px;
}
.card4{
    width: 300px;
    height: 37px;
    box-shadow: 0px 0px 30px 0px #00000040;
    margin-top: 130px;
    padding: 50px;
}
.card3 img{
    
    position: absolute;
    bottom: 60px;
    left: 120px;
    
}
.card4 img{
    
    position: absolute;
    bottom: 60px;
    left: 120px;
    
}
.card3 p{
    text-align: center;
}
.card4 p{
    text-align: center;
}
.card2{
    position: relative;
}
.card3{
    position: relative;
}
.card4{
    position: relative;
}
@media(max-width:900px){
    
    .box2{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .card{
        width: 80%;
        margin: auto;
    }
    .card img{
        width: 100%;
        height: 190px;
    }
    .box3{
       flex-direction: column;
        align-items: center;
        gap: 30px;
        height: 949px;
    }
    .card3 img{
    position: absolute;
    bottom: 60px;
    left: 120px;
}
.card4 img{
    position: absolute;
    bottom: 60px;
    left: 120px;
}
.card2 img{
    position: absolute;
    bottom: 60px;
    left: 120px;
}
a{
    display: none;
}
}
@media(max-width:600px){
    .img{
        display: none;
    }

}